@charset "utf8";

@media screen and (min-width: 1024px) {
    header {
        display: grid;
        grid-template: repeat(3, auto) / repeat(3, 1fr);
        text-align: left;
        place-items: center center;
        height: 100vh;
        padding-top: 50px;
    }

    header > h1 {
        grid-area: 1 / 1 / 2/ 2;
    }

    header > h2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    header > .contact {
        grid-area: 3 / 1 / 4 / 2;

    }

    header > picture {
        background-size: cover;
        grid-area: 1 / 2 / -1 / -1;
    }

    .benefits-area {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 2em;
        height: 40vh;
    }

    .testimonial-container {
        height: 40vh;
    }

    .slider {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
    }

    .controls {
        display: none;
    }

    .faq {
        min-height: 40vh;
    }

    footer > .contact {
        width: 50%;
    }
}